/**

  @buttons
--------------------------------------------------------
  base/_buttons.scss
--------------------------------------------------------

  Buttons are a common UI component in sites/apps.  They
  are usually either anchor, button, or input elements
  with a classname of 'btn'.  They provide an easily
  identified clickable target. This file uses a series
  of private mixins that are only to be used in this partial.

  Buttons commonly have modifying classes that apply
  specific styles.  Examples of these are .btn--large and
  .btn--inline

  Example: Buttons using anchors
  <p><a href="#" class="btn">Regular Button</a></p>

  Example: Buttons using buttons
  <p><button class="btn">Regular Button</button></p>

*/


// ==== Clean up after eagle
// We use these to build padding for buttons.
// $button-sm: 10;
// $button-md: 16;
// $button-lg: 20;

// // We use this to control the display property.
// $button-display: inline-block;
// $button-margin-bottom: rem(20);

// // We use these to control button text styles.
// $button-font-family: $font-primary;
// $button-font-color-alt: #333;
// $button-font-sm: em(11);
// $button-font-md: em(12);
// $button-font-lg: em(14);
// $button-font-weight: normal;
// $button-font-align: center;

// // We use these to control button border styles.
// $button-border-width: 2;
// $button-border-style: solid;

// // Default Button Settings
// $button-default-background: #000;
// $button-default-border-color: #000;
// $button-default-text: #fff;
// $button-default-hover-color: #000;
// $button-default-hover-background: #fff;
// $button-default-hover-border: #000;

// // Lighter Button
// $button-lighter-background: transparent;
// $button-lighter-border-color: #fff;
// $button-lighter-color: #fff;
// $button-lighter-hover-color: #000;
// $button-lighter-hover-background: #fff;
// $button-lighter-hover-border: #000;


// @function calculate-button-padding($padding, $border) {
//   $newPad: ();

//   @each $pad in $padding {
//     $newPad: append( $newPad, rem($pad - $border));
//   }
//   @return $newPad;
// }

// @mixin create-button ( $background-color: $button-default-background, $color: $button-default-text, $border-color: $button-default-border-color ) {
//   display: inline-block;
//   padding: calculate-button-padding($button-md, $button-border-width);
//   font-size: $button-font-md;
//   font-family: $font-secondary--bold;
//   text-decoration: none;
//   text-align: center;
//   text-transform: uppercase;
//   letter-spacing: em(2);
//   line-height: rem(11);
//   background-color: $background-color;
//   color: $color;
//   border: rem($button-border-width) solid $border-color;
//   transition: all .25s ease-in-out;
//   cursor: pointer;
//   &:hover,
//   &:active,
//   &:focus {
//     border-color: $button-default-hover-border;
//     background-color: $button-default-hover-background;
//     color: $button-default-hover-color;
//     text-decoration: none;
//   }
// }


// scss-lint:disable SpaceAfterComma
/* @_btn-colors
--------------------------------------------------------

  Button border, BG, and text color vars. Default vars
  are passed as agruments in button-colors

------------------------------------------------------ */

$btn-disabled-bg-color: $color__offwhite;
$btn-disabled-color: $color__grey--light;

$btn-border-color--dark  : $color__black;
$btn-u-bg-color--dark    : $color__black;
$btn-txt-color--dark     : $color__black;

$btn-border-color--light : $color__white;
$btn-u-bg-color--light   : $color__white;
$btn-txt-color--light    : $color__white;


// @_btn-colors privatemixin
@mixin _btn-colors(

  // default mixin vars
  $btn-border-color : $btn-border-color--dark,
  $btn-u-bg-color   : $btn-u-bg-color--dark,
  $btn-txt-color    : $btn-txt-color--light,
  $btn-border-hover : $btn-border-color--dark,
  $btn-bg-hover     : $btn-u-bg-color--light,
  $btn-txt-hover    : $btn-txt-color--dark) {

  border-color: $btn-border-color;
  background-color: $btn-u-bg-color;
  color: $btn-txt-color;
  // pseudo states
  &:hover,
  &:active,
  &:focus,
  &.active  {
    border-color: $btn-border-hover;
    background-color: $btn-bg-hover;
    color: $btn-txt-hover;
  }
}

/* @_btn-sizing
--------------------------------------------------------

  Font and padding vars. Values are passed through
  em and rem functions, respectively. Default vars
  are passed as default arguments in button-sizing
  mixin.

------------------------------------------------------ */

/*
---------------------

Variables

--------------------- */
// Default border width
$btn-border-width  : 2;

// Default border width
$btn-border-radius--md  : 2;

// X-small Button Sizing
$btn-padding--xs        : 8;
$btn-padding-tops--xs   : 6;
$btn-font-size--xs      : 10;
$btn-line--xs           : 2.35;

// Small Button Sizing
$btn-padding--sm        : 10;
$btn-padding-tops--sm   : 10;
$btn-font-size--sm      : 10;
$btn-line--sm           : 2.35;

// Medium button sizing
$btn-padding--md        : 12;
$btn-padding-tops--md   : 12;
$btn-font-size--md      : 14;
$btn-line--md           : em(20, 14);

// Default large button sizing
$btn-padding--lg        : 18;
$btn-padding-tops--lg   : 18;
$btn-font-size--lg      : 14;
$btn-line--lg           : em(20, 14);


// Default border width
$btn-border-width  : 2;





// @_btn-sizing private mixin
@mixin _btn-sizing(

  // default mixin vars
  $btn-padding      : $btn-padding--lg,
  $btn-padding-tops : $btn-padding-tops--lg,
  $btn-font-size    : $btn-font-size--lg,
  $btn-line         : $btn-line--lg) {

  padding: rem($btn-padding-tops $btn-padding $btn-padding-tops $btn-padding);
  border-width: rem($btn-border-width);
  font-size: em($btn-font-size);
  line-height: $btn-line;
}



/* @btn
--------------------------------------------------------

  Default Button
  Style .btn class, button element, and input button element
  .btn class is required for btn modifier classes

  Example: .btn
  <a class="btn">Small button</a>
  <button>Button</button>
  <input type="button" value="Use this in Forms Only!">

------------------------------------------------------ */
.btn {
  @extend %font-secondary--bold;
  @include _btn-colors;
  @include _btn-sizing;
  display: inline-block;
  transition: all .25s ease-in-out;
  border-style: solid;
  letter-spacing: rem(2.25);
  // line-height: initial;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: initial;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus,
  &.active {
    text-decoration: none;
  }
  &[disabled] {
    background-color: $btn-disabled-bg-color!important;
    border-color:  $btn-disabled-bg-color!important;
    color: $btn-disabled-color!important;
    cursor: default;
    &:hover
    &:active,
    &:focus,
    &.active {
      background-color: $btn-disabled-bg-color!important;
      border-color:  $btn-disabled-bg-color!important;
      color: $btn-disabled-color!important;


    }
  }

  // .btn--md
  &--md {
    @include _btn-sizing($btn-padding--md, $btn-padding-tops--md, $btn-font-size--md, $btn-line--md);
  }

  // .btn--sm
  &--sm {
    @include _btn-sizing($btn-padding--sm, $btn-padding-tops--sm, $btn-font-size--sm, $btn-line--sm);
  }

  // .btn--xs
  &--xs {
    @include _btn-sizing($btn-padding--xs, $btn-padding-tops--xs, $btn-font-size--xs, $btn-line--xs);
  }

  // .btn--clean
  &--clean {
    border-width: 0;
    background-color: transparent;
  }

  // .btn--light
  &--light {
    @include _btn-colors(
      $color__black, // border-color
      $color__white, // u-bg-color
      $color__black, // text-color
      $color__black, // hover-border-color
      $btn-disabled-bg-color, // hover-u-bg-color
      $color__white  // hover-text-color
    );
  }
}


/* @btn
--------------------------------------------------------

------------------------------------------------------ */

button {
  background-color: initial;
  border: initial;
  font-family: $font-primary;
}





/* @btn--ghost
--------------------------------------------------------

  A transparent, 'ghost' btn modifier

  Example: .btn--ghost
  <a class="btn btn--ghost">Ghost button</a>

------------------------------------------------------ */
.btn--ghost {
  @include _btn-colors(
    $color__black, // border-color
    transparent,   // u-bg-color
    $color__black, // text-color
    $color__black, // hover-border-color
    $color__black, // hover-u-bg-color
    $color__white  // hover-text-color
  );
}


/* @btn--pink
--------------------------------------------------------

  The light colored btn modifier. See @btn-colors mixin
  to see arg values

  Example: .btn--light
  <a class="btn btn--light">Light button</a>

------------------------------------------------------ */

.btn--pink {
  @include _btn-colors(
    $color__grey--lightest, // border-color
    $color__white, // u-bg-color
    $color__grey,
    $color__grey--lightest,
    $color__pink,
    $color__black
  );
}


/* @btn--grey
--------------------------------------------------------

  The light colored btn modifier. See @btn-colors mixin
  to see arg values

  Example: .btn--light
  <a class="btn btn--grey">Light button</a>

------------------------------------------------------ */

.btn--grey {
  @include _btn-colors(
    $input-border-color,
    $color__white,
    $color__grey--light,
    $color__grey--lightest,
    $input-border-color,
    $color__black
  );
  @extend %font-primary;
}


/* @btn--grey-dark
--------------------------------------------------------

  The light colored btn modifier. See @btn-colors mixin
  to see arg values

  Example: .btn--light
  <a class="btn btn--grey">Light button</a>

------------------------------------------------------ */

.btn--grey-dark {
  @include _btn-colors(
    $btn-border-color : $color__grey--lighter, //#e4e4e4
    $btn-u-bg-color : $color__offwhite,
    $btn-txt-color : $color__grey--light,
    $btn-border-hover : $color__black,
    $btn-bg-hover :  $color__black,
    $btn-txt-hover : $color__white
  );
}

input:checked + .btn--grey-dark {
  border-color: $color__black;
  background-color: $color__black;
  color: $color__white;
}


/* @btn--full
--------------------------------------------------------

  A btn modifier, large

  Example: .btn--large
  <a class="btn btn--large">Large button</a>

------------------------------------------------------ */
.btn--full {
  width: 100%;
}

/* @btn--border-slim
--------------------------------------------------------

------------------------------------------------------ */
.btn--border-slim {
  border-width: rem(1);
}

/* @btn--border-radius-sm
--------------------------------------------------------

------------------------------------------------------ */
.btn--border-radius-sm {
  border-radius: rem(2);
}

/* @btn--select
   Select type style
--------------------------------------------------------

------------------------------------------------------ */
.btn--select {
  border-width: rem(1);
  border-radius: rem(2);
  font-family: $font-primary;
  font-size: em(11);
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
}


/* @btn--circle
--------------------------------------------------------

------------------------------------------------------ */
.btn--circle {
  border-radius: 50%;
  height: rem(32);
  width: rem(32);
  padding: 0;
  line-height: rem(32);
  vertical-align: middle;
  border:0;
  .icon {
    height: rem(32);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  .btn--lg {
    height: rem(44);
    width: rem(44);
    line-height: rem(44);
    .icon {
      height: rem(44);
    }
  }
}

.btn--circle-grey {
  display: inline-block;
  border-radius: 50%;
  line-height: 1;
  padding: 2%;
  background-color: $color__grey--light;
  .icon { // Scale down size icon inside button
    transform: scale(0.7, 0.7);
    &:hover,
    &:active,
    &:focus,
    &.active {
      fill: $color__white;
    }
  }
  &:hover,
  &:active,
  &:focus,
  &.active {
    background-color: $color__grey--light;
  }
  &.u-border-a--none {
    border: rem(0);
  }
}

.btn--white {
  background: $color__white;
  color: $color__black;
  &:hover,
  &:active,
  &:focus,
  &.active  {
    background: $color__black;
    color: $color__white;
  }
}

/* @btn--img
--------------------------------------------------------

------------------------------------------------------ */
.btn__img--denim {
  height: rem(50);
  background-image: url('//is4.revolveassets.com/r/assets/main/source/button/REVmobile_GFdenim_buttonX2.jpg');
  background-size: cover;
  display: block !important;
  text-align: center;
  &:hover,
  &:active,
  &:focus,
  &.active {
    text-decoration: none;
  }
  &:hover .btn__img--denim-text,
  &:active .btn__img--denim-text,
  &:focus .btn__img--denim-text,
  &.active .btn__img--denim-text {
    border-bottom: rem(2) solid $color--denim;
  }
  &-text {
    color: $color--denim;
    line-height: rem(50);
    font-family: $font-secondary;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: rem(.5);
    padding-right: 3%;
    &:after {
      content: '';
      background-image: url('//is4.revolveassets.com/r/assets/main/source/button/GFdenim_arrowX2.jpg');
      background-size: rem(28);
      width: rem(28);
      height: rem(11);
      position: relative;
      clear: both;
      display: inline-block;
      background-repeat: no-repeat;
      max-width: 100%;
      left: 3%;
    }
  }
}
