---
title: My Bag
page-name: emptyBag
fabricator: false
layout: mock-page
---

<header class="page__header">
  {{> page-head.title text=title }}
</header>

<section class="page__main u-padding-a--xl">
  <p class="u-center u-text--lg u-margin-t--xl u-margin-b--sm">Your shopping bag is currently empty.</p>
  <p class="u-center u-text--lg">Start shopping and check out our New Arrivals!</p>
  <p class="u-center"><a href="{{url.womens}}" class="h2">Shop Women's</a></p>
  <p class="u-center"><a href="{{url.mens}}" class="h2">Shop Men's</a></p>
</section>
