{
  "presets": [
    [
      "env", {
      "targets": {
        "browsers": ["last 3 iOS versions"],
        "uglify": true
      },
      "modules": false,
      "useBuiltIns": true
    }]
  ],

  "env": {
    "test": {
      "presets": ["env"],

      "plugins": [
        "transform-runtime",
        ["istanbul", {
          "exclude": ["**/*.spec.js", "**/test-index.js"]
        }]
      ]
    }
  }
}
