{{!--
    Used for text inputs throughout the site
    @param {string} id - input element's id, label's for attribute, and input's name (unless otherwise passed in)
    @param {string} label - label's text, input's placeholder (unless otherwise passed in)
    @param {string} [name] - input element's name (defaults to id)
    @param {string} [placeholder] - input's placeholder (defaults to label)
    @param {string} [fieldClassName] - optional className applied to the field
    @param {string} [labelClassName] - optional className applied to the label
    @param {string} [inputClassName] - optional className applied to the input
    @param {string} [pattern] - An optional pattern to be applied to an input
    @param {boolean} [required] - Whether a field should be required
    @param {boolean} [disabled] - Whether a field should be disabled
    @param {string} [attrs] - Any additional attributes
--}}

<div class="field field--text {{fieldClassName}}">
  <label class="field__label {{labelClassName}}" for="{{id}}">{{label}}</label>
  <input
    class="field__input {{inputClassName}}"
    type="{{#if type}}{{type}}{{else}}text{{/if}}"
    id="{{id}}"
    name="{{#if name}}{{name}}{{else}}{{id}}{{/if}}"
    placeholder="{{#if placeholder}}{{placeholder}}{{else}}{{label}}{{/if}}"
    {{#pattern}}pattern="{{.}}"{{/pattern}}
    {{#required}}required{{/required}}
    {{#disabled}}disabled{{/disabled}}
    {{{attrs}}}>
</div>
