/**

  @onboarding favorites
--------------------------------------------------------
  modules/_onbaording-fav.scss
--------------------------------------------------------

  onboarding-fav Section

------------------------------------------------------ */

.onboarding-hdr {
	background-color: #f4f4f4!important;
}

.onboarding-icon {
	width: rem(39);
	vertical-align: top;
	margin-top: rem(12);
}

.onboard-fav__margin-t {
  margin-top: rem(48);
}

.favorites-onboard__margin-b {
	margin-bottom: rem(24);
}
