/**

  @page-constrain
--------------------------------------------------------
  modules/_page-constrain.scss
--------------------------------------------------------

  page-constrain Section

------------------------------------------------------ */

.page-constrain {
	height: 100%;
	overflow: hidden;
	position: relative;	
}