---
notes: |

  SECTION CONTAINER

  Blocks can have different visual styling, but usually have the same structure; one spacing unit margin at the bottom, and some have borders, and padding, etc.
---

  <section class="block--xs">
    Margin bottom: 8px
  </section>

  <section class="block--sm">
    Margin bottom: 12px
  </section>

  <section class="block--md">
    Margin bottom: 15px
  </section>

  <section class="block--lg">
    Margin bottom: 28px
  </section>

  <section class="block--xl">
    Margin bottom: 42px
  </section>
