/**

  @slideshow
--------------------------------------------------------
  modules/_slideshow.scss
--------------------------------------------------------

  Slideshow Section

------------------------------------------------------ */

.cycle {
  &-slide {
    width: 100%;
  }
}

.carousel {
  &__slide-over-p--md {
    padding-right: rem(3);
    padding-left: rem(7);
  }
}
.carousel--edge{
  width: 120%;
}

.slideshow {
  img {
      vertical-align: top;
  }
  &__pager {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: 999;
    span {
      display: inline-block;
      width: rem(12);
      height: rem(12);
      margin: 0 rem(6);
      border: rem(2) solid $color__white;
      border-radius: rem(12);
      background: $color__black;
      text-indent: -100%;
      opacity: .3;
      text-indent: -999em;
    }
    .cycle-pager-active {
      opacity: 1;
    }
    &--grey {
        span{
            width: rem(15);
            height: rem(15);
            border-width: rem(3);
            background-color: $color__grey--light;
      }
    }
  }
}

.revolveme_module__slide {
  padding-right: rem(3);
  padding-left: rem(7);
  /* Will need to fix this, quickfix */
  img {
      display: inline-block !important;
      vertical-align: top;
  }
}
