/**

  @nav-list
--------------------------------------------------------
  modules/_nav-list.scss
--------------------------------------------------------

  Nav List Section

------------------------------------------------------ */

.nav-side {
  &__page-menu {
    position: absolute;
    top: 0;
    // bottom: 0;
    left: 0;
    // height: 100%;
    width: 100%;
    background-color: $color__white;
    transform: translate3d(100%, 0, 0);
    transition: transform .45s ease;
    // backface-visibility: hidden;
    // perspective: 1000;
    // overflow: hidden;
    z-index: 10;
    /* Visible sub menu dropdown state */
    &.is-open--menu {
      // overflow-y: scroll;
      transform: translate3d(0, 0, 0);
      z-index: 99;
    }
  }
}