/**

  @nav-list
--------------------------------------------------------
  modules/_nav-list.scss
--------------------------------------------------------

  Nav List Section

------------------------------------------------------ */

.nav-list {
  margin-left: 0;
  list-style: none;
  &__link {
    display: block;
    width: 100%;
    padding: rem(15 16 15 16);
    border-bottom: rem(2) solid $color__grey--lightest;
    color: $color__black;
    @extend %font-secondary--bold;
    letter-spacing: em(1.26);
    text-transform: uppercase;
    &:hover,
    &:active {
      text-decoration: none;
      background-color: $color__black;
      color: $color__white;
    }
  }
  &__link--white {
    display: block;
    width: 100%;
    padding: rem(15 16 15 16);
    border-bottom: rem(1) solid #f4f4f4;
    background-color: $color__white;
    color: $color__black;
    @extend %font-secondary--bold;
    letter-spacing: em(1.26);
    text-transform: uppercase;
    &:hover,
    &:active {
      text-decoration: none;
      background-color: $color__black;
      color: $color__white;
    }
  }
  &__link--dark {
    color: $color__black;
    letter-spacing: em(1,13);
    font-size: em(13)
  }
  &__section-title {
    padding: rem(17 14 14 14);
    border-bottom: rem(1) solid $color__border;
    color: $color__grey--light;
    text-transform: uppercase;
  }
  &__back-btn {
    margin-bottom: rem(1);
    padding: rem(10);
    background-color: $color__offwhite;
    color: $color__grey--light;
    letter-spacing: em(1.26);
    text-transform: uppercase;
    @extend %font-secondary--bold;
  }
  &__arrow {
    margin-top: rem(6);
    padding-right: rem(20);
    float: right;
    &--trun {
      position: absolute;
      bottom: 16px;
      right: 21px;
    }
    &--down {
      margin-top: rem(5);
    }
  }
}
