/**

  @notification

**/

.notification {
  @extend %text-md;
  margin: rem( 8 0 16 );
  color: $color__error;

  &__head,
  &__description {
    margin: 0;
    color: $color__error;
  }
}

// TODO: modifiers should be applied to the notification block itself
// for more info, see how `price` is done
.product__notification--horizontal .notification__head {
  @extend %h4;
  color: $color__error;
}
