@import '../helpers/layout';
@import '../helpers/text';

/*

  @site-header

*/

.site-header {
  @extend %u-clearfix;
  padding: rem( $base-margin );

  &__nav,
  &__logo {
    float: left;
    margin-top: rem( 4 );
  }

  &__nav {
    margin-right: rem( $base-margin );
  }

  &__info {
    @extend %text-sm;
    float: right;
    clear: right;
    margin: 0;
    text-align: right;
  }
}
