---
notes: |

  NESTED BLOCK GRID

  You also have the ability of nesting block grids
---

  <div class="grid n-block-grid--2 sm-block-grid--2 md-block-grid--4">
    <div class="grid__col">
      <div class="grid n-block-grid--3 sm-block-grid--3">
        <div class="grid__col">
          <div class="f-grid-item"></div>
        </div>
        <div class="grid__col">
          <div class="f-grid-item"></div>
        </div>
        <div class="grid__col">
          <div class="f-grid-item"></div>
        </div>
      </div>
    </div>
    <div class="grid__col">
      <div class="grid n-block-grid--2 sm-block-grid--2">
        <div class="grid__col">
          <div class="f-grid-item"></div>
        </div>
        <div class="grid__col">
          <div class="f-grid-item"></div>
        </div>
      </div>
    </div>
    <div class="grid__col">
      <div class="grid n-block-grid--4 sm-block-grid--4">
        <div class="grid__col">
          <div class="f-grid-item"></div>
        </div>
        <div class="grid__col">
          <div class="f-grid-item"></div>
        </div>
        <div class="grid__col">
          <div class="f-grid-item"></div>
        </div>
        <div class="grid__col">
          <div class="f-grid-item"></div>
        </div>
      </div>
    </div>
    <div class="grid__col">
      <div class="grid n-block-grid--5 sm-block-grid--5">
        <div class="grid__col">
          <div class="f-grid-item"></div>
        </div>
        <div class="grid__col">
          <div class="f-grid-item"></div>
        </div>
        <div class="grid__col">
          <div class="f-grid-item"></div>
        </div>
        <div class="grid__col">
          <div class="f-grid-item"></div>
        </div>
        <div class="grid__col">
          <div class="f-grid-item"></div>
        </div>
      </div>
    </div>
  </div>
