---
notes: |

  A BASIC GRID

  Each grid unit below has the following behavior:

  1) Base Grid: n-1-of-2
  1) Above SM: sm-1-of-2
  1) Above MD: md-1-of-3
  1) Above LG: lg-1-of-6
  1) Above XL: xl-1-of-12
---

  <div class="grid">
    <div class="grid__col n-1-of-2 sm-1-of-2 md-1-of-3 lg-1-of-6 xl-1-of-12">
      <div class="f-grid-item"></div>
    </div>
    <div class="grid__col n-1-of-2 sm-1-of-2 md-1-of-3 lg-1-of-6 xl-1-of-12">
      <div class="f-grid-item"></div>
    </div>
    <div class="grid__col n-1-of-2 sm-1-of-2 md-1-of-3 lg-1-of-6 xl-1-of-12">
      <div class="f-grid-item"></div>
    </div>
    <div class="grid__col n-1-of-2 sm-1-of-2 md-1-of-3 lg-1-of-6 xl-1-of-12">
      <div class="f-grid-item"></div>
    </div>
    <div class="grid__col n-1-of-2 sm-1-of-2 md-1-of-3 lg-1-of-6 xl-1-of-12">
      <div class="f-grid-item"></div>
    </div>
    <div class="grid__col n-1-of-2 sm-1-of-2 md-1-of-3 lg-1-of-6 xl-1-of-12">
      <div class="f-grid-item"></div>
    </div>
    <div class="grid__col n-1-of-2 sm-1-of-2 md-1-of-3 lg-1-of-6 xl-1-of-12">
      <div class="f-grid-item"></div>
    </div>
    <div class="grid__col n-1-of-2 sm-1-of-2 md-1-of-3 lg-1-of-6 xl-1-of-12">
      <div class="f-grid-item"></div>
    </div>
    <div class="grid__col n-1-of-2 sm-1-of-2 md-1-of-3 lg-1-of-6 xl-1-of-12">
      <div class="f-grid-item"></div>
    </div>
    <div class="grid__col n-1-of-2 sm-1-of-2 md-1-of-3 lg-1-of-6 xl-1-of-12">
      <div class="f-grid-item"></div>
    </div>
    <div class="grid__col n-1-of-2 sm-1-of-2 md-1-of-3 lg-1-of-6 xl-1-of-12">
      <div class="f-grid-item"></div>
    </div>
    <div class="grid__col n-1-of-2 sm-1-of-2 md-1-of-3 lg-1-of-6 xl-1-of-12">
      <div class="f-grid-item"></div>
    </div>
  </div>
