---
notes: |
  To truncate an element after a certain number of lines,
    simply add the helper `u-truncate`, along with any modifiers.

  - Modifiers include: numbers (currently `1`, `2`, `3`, `4`, `5`),
    `short`, and `long`. (A default length is also set, for without a modifier)
  - Note that you cannot use padding on an element that's being truncated (browser limitation)

  To add a "more|less" toggle button/link to the truncated element,
    see [truncate toggle](./modules.html#truncate-toggle).
---

<p class="u-truncate u-truncate--short">I've moved on, I've moved on. And I'm in the dating pool, so... But it's funny, you know, I love having clothes made for me but, I don't know, ladies, you have this situation, but no matter what you're buying, in a store you always hear "wear it with jeans." I don't care what I'm buying -- "Oh, wear it with jeans." One time, this lady said to me, "You know, if you're going to a rock concert..." I go, "A rock concert?!" That's hilarious to me. Me at a rock concert. Ok. Wear it with jeans. Jeans. Pay attention from now on.</p>
