@import '../../lib/mixins/stars';

.rating-scale-field {
  @mixin icon-dimension($dim) {
    width: $dim;
    height: $dim;
  }

  display: inline-block;
  margin: rem(0 6 8);

  &__label {
    @include icon-dimension(rem(36));
    @extend %icon--star-unfilled;

    @include bp-at-least($small-mobile) {
      @include icon-dimension(rem(46));
    }

    &--filled {
      @extend %icon--star-filled;
    }
  }
}
